@import "../../../../sass/base.scss";

.comments {
  &__item {
    display: flex;
    align-items: center;
    padding: 1rem 3rem;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
      border-bottom: 1px solid $cultured-2;
    }
  }

  &__image {
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;

    &__img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
    }
  }

  &__details {
    &__author {
      font-size: 2rem;
      font-weight: bold;
      margin-top: 0.5rem;
    }

    &__text {
      font-size: 1.7rem;
    }
  }
}
