.film-list-side-bar {
  grid-area: side;

  @media (max-width: 50em) {
    position: absolute;
    z-index: 101;
    width: 100%;


    &--mobile-switch {
      transform: translateX(calc(-100% - 2rem));
      display: none;
    }
  }
}
