@import "../../../sass/base.scss";

.film-list-side-bar {
  grid-area: side;

  @media (max-width: $mobile-film-and-comments) {
     z-index: 101;
    width: 100%;
 

    &--mobile-switch {
      display: none;
    }
  }
}
