@import "../../../sass/base.scss";

.film {
  &__item {
    width: $grid-item-width;
    transform: scale(1);
    transition: transform 0.2s;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
  }

  &__img {
    width: $grid-item-width;
    height: $grid-item-height;
  }

  &__title {
    background-color: white;
    border-radius: 4px;
    padding: 1.5rem 3rem;
    height: auto;
  }

  &__text {
    font-size: 1.4rem;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
