@import "../sass/base.scss";

.App {
  background-color: $cultured;
  height: auto;
}

.header__section {
  padding-top: 2rem;
}

.main__section {
  padding-top: 6rem;
  // display: grid;
  padding-bottom: 10rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
