@import "../sass/base.scss";

.App {
  background-color: $cultured;
  position: relative;
  height: auto;
}

.header-section {
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.75);
}

.main-section {
  padding: 10rem 2rem;

  @media (max-width: 35em) {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
  }
}
