.global-error {
  display: flex;
  flex-flow: column;
  align-items: center;

  &__img {
    font-size: 1.2rem;
    width: 100%;
    max-width: 60rem;
  }

  &__title {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 60rem;
    padding: 0 2rem;
  }

  &__text {
    font-size: 2rem;
    margin-bottom: 4rem;
    color: rgb(209, 14, 14);
  }

  &__link {
    font-size: 1.7rem;
    color: #065fd4;
    transition: all 0.2s;

    &:hover {
      color: lighten(#065fd4, 20);
      cursor: pointer;
      transform: scale(1.01);
    }
  }
}
