.film {
  display: grid;
  // max-width: 170rem;
  grid-template-rows: repeat(1, 20rem);
  //   grid-template-columns: repeat(auto-fill, 20rem);

  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

  grid-auto-rows: 20rem;
  grid-auto-columns: 30rem;

  grid-gap: 5rem;
  justify-items: center;
}
